.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 5px;
    font-size: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 10%;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin: 2px;
}
#inputShowScore{
    border: 1px solid black;
    width: 95%;
    height: 100px;
    display: block;
    border-radius: 5%;
}
.btn {
    border-radius: 2%;
    text-align: center;
    text-decoration: none;
    min-width: 90px;
    background-color: white;
}
.column {
    border-radius: 5%;
    border: 1px solid black;
    padding: 15px;
    width: 40%;
}
.btn1 {
    background-color: gray;
}
.btn2 {
    background-color: rgb(20, 20, 170);
    color: white;
}
.btn3 {
    width: 105%;
}
.btn4 {
    border-left: 2px solid black;
    
}
.btn1:hover{
    background-color: lightgray;
}
.btn2:hover{
    background-color: lightblue;
}
.btn4:hover{
    background-color: lightgray;
}